body {
  font-size: 0;
  line-height: 0;
}

#side-panel {
  padding-left: 20px;
  padding-top: 5px;
  padding-right: 5px;
}

#board {
  background-color: #fff2e6;
  padding-top: 50px;
  padding-bottom: 50px;
}

.ui.grid>.column:not(.row) {
  padding-left: 0;
  padding-right: 0;
}

div#board .ui.grid .row {
  padding: 0;
}

.queen {
  z-index: 10;
  position: relative;
}

div.square {
  display: table-cell;
  width: 70px;
  height: 70px;
  background: red;
  border-radius: 1px;
  padding: 10px;
  position: relative;
}

.overlay-dark-square {
  background: #000000 !important;
}

.overlay-light-square {
  background: #ffffff !important;
}

.threatened-square {
  background: #e73827 !important;
  background: -moz-radial-gradient(center, ellipse cover,  #e73827 0%, #f02f17 29%, #f6290c 63%, #f16f5c 64%, #f85032 100%) !important;
  background: -webkit-radial-gradient(center, ellipse cover,  #e73827 0%,#f02f17 29%,#f6290c 63%,#f16f5c 64%,#f85032 100%) !important;
  background: radial-gradient(ellipse at center,  #e73827 0%,#f02f17 29%,#f6290c 63%,#f16f5c 64%,#f85032 100%) !important;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e73827', endColorstr='#f85032',GradientType=1 ) !important;
}

.even-row {
  min-width: 560px;
}

.odd-row {
  min-width: 560px;
}

.odd-row .square:nth-child(even) {
  background: #ffca99;
}

.odd-row .square:nth-child(odd) {
  background: #b35600;
}

.even-row .square:nth-child(even) {
  background: #b35600;
}

.even-row .square:nth-child(odd) {
  background: #ffca99;
}